@model DevShop.Models.Product.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.picLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.picLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.inPromotion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.inPromotion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.inStock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.inStock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.qntStock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.qntStock)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
